div.container
	div.row
		div.col-lg-3
		div.col-lg-3
			h3 User Account
			table.table: tbody
				tr
					td: b Provider
					td {{provider}}
				tr
					td: b ID
					td {{id}}
				tr
					td: b Name
					td {{name}}
		div.col-lg-6