doctype html
html
	head
		title Authentication and Authorization
		link(rel="stylesheet", type="text/css", href="lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:400,300")
		link(rel="stylesheet", type="text/css", href="styles/main.css")
		script(src="lib/angular/angular.min.js")
		script(src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
		script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
		script(src="scripts/app.js")
	body
		include views/header
		div(ui-view)